html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header,
.footer {
  color: white;
  background-color: black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__container {
  display: inline;
}

.form__item-wrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
}

legend {
  text-align: left;
}

label {
  font-weight: bold;
}
